

img {
    margin: 50px;
    transition: transform 1s ease;
}

img:hover {
    transform: scale(2);
}

.challenge2 {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;



}

.challenge3 {
    background-color: #bada55;
    height: 200px;
    width: 200px;
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }

}